<!-- Page Content -->
<div class="page-heading products-heading header-text js-fullheight">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-content">
          <h4><%= t "headers.login"%></h4>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="login-wrap p-0">
          <%= form_for @user, url: password_reset_path do |f| %>
            <div class="signin-form">
              <%= hidden_field_tag :email, @user.email %>
              <div class="form-group">
                <%= f.password_field :password, class: "form-control", placeholder: "#{t("login.passwd")}" %>
                <span class="toggle-password" toggle="#user_password"><i class="eye-pic fa fa-fw fa-eye field-icon"></i></span>
              </div>
              <div class="form-group">
                <%= f.password_field :password_confirmation, class: "form-control", placeholder: "#{t("register.passwd_conf")}" %>
                <span class="toggle-password" toggle="#user_password_confirmation"><i class="eye-pic fa fa-fw fa-eye field-icon"></i></span>
              </div>
              <div class="form-group">
                <%= f.submit t("update.update_passwd"), class: "form-control btn btn-primary submit px-3" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>