<div style="box-sizing:border-box;font-size:14px;margin:0;color:#898989;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;height:100%;line-height:1.6em;background-color:#f6f6f6;width:100%!important">
  <div style ="box-sizing:border-box;font-size:14px;margin:0 auto;display:block;max-width:600px;padding:20px">
    <h1 style="box-sizing:border-box;font-size:16px;margin:0;vertical-align:top;border-radius:3px 3px 0 0;color:#fff;font-weight:bold;letter-spacing:0.5px;padding:20px;text-align:center;background-color:#f15d30">
      <%= t "email.subject.password_reset" %>
    </h1>
    <p><%= t "email.hi" %> <%= @user.full_name %>,</p>
    <p><%= t "email.message.reset_passwd" %></p>
    <%= link_to t("email.btn.reset_passwd"), edit_password_reset_url(id:
    @user.reset_token, email: @user.email), style: "background-color: #f15d30;
                                                    border: none;
                                                    color: white;
                                                    padding: 15px 32px;
                                                    text-align: center;
                                                    text-decoration: none;
                                                    display: inline-block;
                                                    font-size: 16px;
                                                    border-radius: 27px;" %>
    <p><%= raw t("email.signature") %></p>
  </div>
</div>
